{% load static %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load bootstrap_icons %}

<!-- Spinner inicio -->
<div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Cargando...</span>
    </div>
</div>
<!-- Spinner fin -->


<!-- Navbar inicio -->
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="collapse navbar-collapse " id="navbarCollapse">
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" style="color: white;">Paises</a>
                <div class="dropdown-menu fade-down m-0">
                    <a href="{% url 'crear_pais' %}" class="dropdown-item">Crear pais</a>
                    <a href="{% url 'lista_paises' %}" class="dropdown-item">Lista de paises</a>
                </div>
            </div>
            
        </div>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"  aria-expanded="false">
                {{user.username}}
            </button>
            <ul class="dropdown-menu dropdown-content" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="{% url 'profile' %}">Perfil</a></li>
                <li><a class="dropdown-item" href="{% url 'logout' %}">Sign out</a></li>   
            </ul>
        </div>
    </div>
</nav>
<!-- Navbar fin -->
