{% extends 'master.html' %}
{% block title %}Crear paises{% endblock %}
{% block content %}   

    <div class="container mt-5">
        <h1 class="text-primary capitalization" style="text-align: center;">
            <span >Lista de paises</span>
        </h1>

        <table class="table table-striped table-bordered capitalization">
            <thead class="thead-dark">
                <tr>
                    <th>Nombre</th>
                    <th>Código</th>
                    <th>Nacionalidad</th>
                    <th>Moneda</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for pais in paises %}
                <tr>
                    <td>{{ pais.nombre }}</td>
                    <td>{{ pais.codigo }}</td>
                    <td>{{ pais.nacionalidad }}</td>
                    <td>{{ pais.moneda }}</td>                    
                    <td>
                        {% if pais.estado == True %} 
                            Activo 
                        {% elif pais.estado == False %}
                            Inactivo 
                        {% else %}
                            {{ pais.estado }} 
                        {% endif %}
                    </td>
                    <td>
                        <a href="{% url 'editar_pais' id=pais.id %}">Editar</a> |
                        <a href="{% url 'eliminar_pais' id=pais.id %}">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <a href="{% url 'crear_pais' %}">Crear Nuevo Pais</a>
    </div>

{% endblock %}